      body {
        font-family: "Poppins", sans-serif;
        background-color: #f8f9fa;
        overflow: hidden;
      }

      .btn {
        width: 100px;
        height: 35px;
      }

      .hero-section {
        position: relative;
        min-height: 85vh;
        display: flex;
        align-items: center;
        overflow: hidden;
      }

      .hero-section::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #192a56;
        z-index: -1;
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 15% 100%);
      }

      .hero-content h1 {
        font-size: 3rem;
        font-weight: 700;
        color: #212529;
      }

      .hero-content p {
        font-size: 1rem;
        color: #6c757d;
      }

      .illustration-container img {
        max-width: 100%;
        height: auto;
      }

      @media (max-width: 991.98px) {
        body {
            overflow: scroll;
        }
        .hero-section {
          text-align: center;
          min-height: auto;
          padding-top: 5rem;
          padding-bottom: 3rem;
        }
        .hero-section::before {
            display: none;
        }
        .hero-content {
          padding-bottom: 3rem;
        }
        .hero-content h1 {
          font-size: 2.2rem;
        }
      }